body {
    font-family: 'Lato';
    text-align: center;
    background: #fff;
    font: 14px Arial;
    margin: 0;
    padding: 0;
    color: #266060;
}

#wrapper {
    background: #f5f5f5;
    color: #f5f5f5;
    ;
    margin: 0 auto;
    width: 900px;
    min-height: 100%;
    position: relative;

}

nav {
    background: #11999e;
    padding: 3px 10px;
    margin: auto;


}

nav ul {
    padding: 0;
    list-style: none;
    margin-left: 15px;
}

nav li {
    display: inline-block;
    margin: 0 10px 0 0;

}

nav a {

    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}







h2 {

    font-size: 2.5rem;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Lato, sans-serif;

    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;

    color: #266060;

}



hr {
    border: dotted #617373 6px;
    border-bottom: none;
    width: 4%;
    margin: 25px auto;
}

a {
    color: #11999e;

    margin: 20px 20px;
    text-decoration: none;
}

li a:hover {
    color: #266060;
    text-shadow: 2px 2px 2px rgba(47, 71, 73, 0.5);

}

p a:hover {
    color: #f5f5f5;
}

p a {
    padding: 10px;
}



p {

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: none;
    color: #2E2E2E;

}




.topcontainer {
    background-color: #66BFBF;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    height: 250px;
}

.textcontainer p {
    padding-left: 250px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: left;

}

.topcontainer h2 {
    padding-top: 30px;
}

.maincontainer #wrapper {
    margin: 0;
    padding: 0;
    height: 492px;
    background: #f5f5f5;
}

.maincontainer {
    background: #f5f5f5;
}

.maincontainer p {
    padding: 30px;
}

.maincontainer-fahigkeiten p {
    padding: 13px;
}

.bottomcontainer {
    background: #66BFBF;
    list-style: none;
    height: 100%;
    padding: 10px;
    margin-bottom: 0;
}

.bottomcontainer li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.bottomcontainer a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;

}

.profilepicture {
    position: absolute;
    top: 150px;
    left: 35px;
    width: 20%;
}

table {
    width: 100%;
    padding: 25px;
}

th,
td {
    border: transparent;
    padding: 10px;
    text-align: left;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: none;
    color: #2E2E2E;
}

.songs a:hover {
    color: #266060;


}

.songs {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25.8px;

}

.photo img {
margin-top: 20px;
    width: 800px;
    padding: 20px;
}